---
import Popup from '../components/Popup.astro';
import Main from '../layouts/Main.astro';
---

<Main title="Bienvenue">
    <h1>Accueil</h1>
    <div class="grid grid-col2--md gap--md container">
        <div class="bg-secondary--300 c-secondary--500 p--xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione distinctio nobis, unde reprehenderit accusantium odio. Sequi assumenda deleniti perspiciatis corporis voluptate dolor? Saepe repellendus repudiandae rem iusto ad praesentium quae?</div>
        <Popup type="warning">Attention c'est un warning</Popup>
    </div>
</Main>